.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: auto;
    background-color: rgb(149, 149, 149);    
  }
  
.flex-container > div {
    background-color: #f1f1f1;
    width: 300px;
    margin: 4px;
    padding: auto;
    font-size: 30px;
  }
  body{
    background-color: rgb(149, 148, 148);  
    font-family: Arial, Helvetica, sans-serif;
  }
  p{
    font-size: small;
  }
  ul{
    font-size: medium;
  }
  li{
    color: rgb(253, 123, 0);
  }